body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

.orange-color {
  color: orange;
}

.gray-color {
  color: #585858;
}

#padding-right {
  padding-right: 200px;
}

#padding-left-right {
  padding-left: 400px;
  padding-right: 400px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(to right, orange, tomato);
  padding: 20px 35px;
  color: white;
  font-weight: 600;
  border-radius: 35px;
}

.flexible-container {
  display: flex;
  margin: 80px 20px 100px 50px;
}

.half-width {
  width: 50%;
}

.half-width img {
  width: 90%;
}

.margin-class {
  margin-top: 130px;
}

section p {
  font-size: 20px;
}

#about-me-image {
  height: 500px;
  width: 315px;
  padding-left: 200px;
  padding-top: 100px;
}

.background-banner {
  margin: 0;
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.recipies {
  text-align: center;
}

.recipe-item {
  width: 25%;
  margin-top: 5%;
  margin-left: 3.8%;
  margin-right: 4%;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 30px;
  box-shadow: 2px 2px 20px gray;
}

.recipe-container {
  display: flex;
  margin-right: 130px;
}

.recipe-container p {
  font-size: 18px;
  font-weight: 400;
}

.recipe-image-layout {
  width: 329px;
  height: 250px;
}
