body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

.orange-color {
  color: rgb(249, 139, 79);
}

.gray-color {
  color: rgb(87, 87, 87);
}

#padding-right {
  padding-right: 200px;
}

#padding-left-right {
  padding-left: 400px;
  padding-right: 400px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(to right, orange, tomato);
  padding: 20px 35px;
  color: white;
  font-weight: 600;
  border-radius: 35px;
}

.flexible-container {
  display: flex;
  margin: 80px 20px 100px 50px;
}

.half-width {
  width: 50%;
}

.half-width img {
  width: 90%;
}

.margin-class {
  margin-top: 130px;
}

section p {
  font-size: 20px;
}

#about-me-image {
  height: 500px;
  width: 315px;
  padding-left: 200px;
  padding-top: 100px;
}

.background-banner {
  margin: 0;
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.my-recipies {
  text-align: center;
}

.recipe-container {
  display: flex;
  margin-right: 130px;
}

.recipe-item {
  width: 25%;
  margin-top: 5%;
  margin-left: 3.8%;
  margin-right: 4%;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 30px;
  box-shadow: 2px 2px 20px gray;
}

.recipe-container p {
  font-size: 17px;
  font-weight: 200;
}

.recipe-image-layout {
  width: 329px;
  height: 250px;
}

.social-media-container {
  display: flex;
  padding-top: 45px;
  padding-left: 260px;
  padding-bottom: 45px;
  margin-left: 3.7%;
  margin-right: 3.5%;
  border-radius: 20px;
  box-shadow: 1px 1px 10px gray;
}

.social-media-item {
  width: 28%;
  margin-right: 40px;
}

.social-media-item p {
  font-size: 15px;
}

.footer {
  background-color: rgb(11, 13, 23);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 100px;
}

.footer p {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(58, 55, 55);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: orange;
}
